@model WebApplication5.Models.Members

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Website CSS style -->
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <!-- Website Font style -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">TRAILS FOR HEALTH</h1>
                    <hr />
                    <h1 class="sb">Login Form</h1>
                </div>S
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" method="post" action="loginForm">

                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
                    </div>
                    <div class="login-register">
                        <a href="registerForm">Don't you have an account, Register!</a>
                    </div>
                    <div>
                        @{ 
                            if(Model == null)
                            {
                                <h6> </h6>
                            }
                            else
                            {
                                <h6>model.state</h6> 
                            }
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>